# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
local.properties
.settings/
.project
*.launch
.classpath

# IntelliJ
.idea/
*.iml
out/

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
