<form *ngIf="active" (ngSubmit)="onSubmit(dnForm.model)" #dnForm="ngForm">
  <fieldset class="form-group">
    <label for="country">Country Name (2 letter code)</label>
    <input [(ngModel)]="model.c" ngControl="c" required class="form-control" id="country" placeholder="Country">
  </fieldset>
  <fieldset class="form-group">
    <label for="state">State or Province Name (full name)</label>
    <input [(ngModel)]="model.st" ngControl="st" class="form-control" id="state" placeholder="State or Province">
  </fieldset>
  <fieldset class="form-group">
    <label for="locality">Locality Name (eg, city)</label>
    <input [(ngModel)]="model.l" ngControl="l" class="form-control" id="locality" placeholder="Locality">
  </fieldset>
  <fieldset class="form-group">
    <label for="org">Organization Name (eg, company)</label>
    <input [(ngModel)]="model.o" ngControl="o" class="form-control" id="org" placeholder="Organization">
  </fieldset>
  <fieldset class="form-group">
    <label for="orgunit">Organizational Unit Name (eg, section)</label>
    <input [(ngModel)]="model.ou" ngControl="ou" class="form-control" id="orgunit" placeholder="Organizational Unit">
  </fieldset>
  <fieldset class="form-group">
    <label for="cn">Common Name (eg, your name or your server's hostname)</label>
    <input [(ngModel)]="model.cn" ngControl="cn" required class="form-control" id="cn" placeholder="Common Name">
  </fieldset>
  <button (click)="clear()" class="btn btn-secondary">
    Clear
  </button>
  <button type="submit" [disabled]="!dnForm.form.valid" class="btn btn-primary">Submit</button>
</form>
