body {
  padding: 1em;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

input, input:required {
    box-shadow:none;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#loading::after {
  content: url("/img/loader.gif");
}

.form-comment {
  color: #888;
}
.form-comment.invalid {
  color: #a94442; /* red */
}
